* {
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.options-container {
    display: flex;
    width: 30%;
    height: 30%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 2%;
}

.board-container {
    width: 30%;
    height: 30%;
    margin: 0 auto;

}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.grid-square {
    flex: 1 1 6.25%;
    aspect-ratio: 1 / 1;
    outline: 1px solid black;
    background-color: #ffffff;
}

.grid-square:hover {
    filter: brightness(75%);
    box-shadow: 0px 0px 5px 3px #dbdbdb;
}


.grid-size-form {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.grid-size-form label,
.grid-size-form input {
    flex: 1;
    margin-bottom: 15px;
    max-width: 50%;
    padding: 5px;
}

.resize-button {
    flex: 1;
    margin-top: 10px;
    align-self: flex-start;
    padding: 10px;
    width: 50%;
}

.color-picker-container {
    flex: auto;

}