* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E6EBE0;
}

.page-header {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    align-self: center;
    font-size: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ED6A5A;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.options-container {
    display: flex;
    width: 30%;
    height: 30%;
    margin: 0 auto;
    border: 3px solid #9BC1BC;
    border-radius: 2%;
    padding: 4%;
    background-color: #F4F1BB;
    gap: 10%;
    overflow: auto;
}

.sketch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    margin: 0 auto;
}

.sketch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    margin: 0 auto;
}

.outline-wrapper {
    width: 100%;
    display: flex;
}

.board-container {
    outline: 75px solid #5CA4A9;
    border-radius: 2%;
    width: 100%;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.grid-square {
    flex: 1 1 6.25%;
    aspect-ratio: 1 / 1;
    outline: 1px solid #9BC1BC;
    background-color: #ffffff;
}

.grid-square:hover {
    filter: brightness(75%);
    box-shadow: 0px 0px 5px 3px #dbdbdb;
}


.grid-size-form {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex: 2;
}

.grid-size-form label {
    font-size: 28px;
}

.grid-size-form label {
    flex: 1;
}

.grid-size-form input {
    flex: 1;
    max-width: 100%;
    padding: 2%;
    font-size: large;
    text-align: center;
}

.resize-button,
.reset-button {
    flex: 1;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #e6ebe0;
    border: 2px solid #9BC1BC;
    font-size: medium;
}

.color-picker-container {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.color-input-container {
    display: flex;
    align-items: center;
    gap: 5%;
    flex: 2;
}

.color-picker {
    flex: 3;
    border: 1px solid #9BC1BC;
    cursor: pointer;
}

.usage-note {
    flex: 2;
    color: #9BC1BC;
    font-size: small;
}


.color-slots-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12.5%;
    flex: 1;
}

.color-slot {
    position: relative;
    flex: 1 1 12.5%;
    aspect-ratio: 1 / 1;
    outline: 1px solid #9BC1BC;
    background-color: #ffffff;
    margin-top: 12.5%;
}

.color-slot:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px #dbdbdb;
}

.color-slot-clear {
    background-color: #ffffff;
    position: absolute;
    outline: 1px solid #9BC1BC;
    aspect-ratio: 1 / 1;
    height: 30%;
    left: 0px;
}